li {
    list-style: none;
    margin: 1.2em 0;
    background-color: rgba(126, 170, 255, 0.22);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 1.2em 1.5em;


    svg {
        color: #333333;
        &:first-child {
            font-size: 1.2em;
            margin-right: 0.8em;
        }
    }

    p {
        flex: 1;
        font-size: 0.9rem;
    }

    .actions {
        justify-self: flex-end;
        cursor: pointer;

        .fa-spinner {
            color: #EB5757;
            font-size: 1.2em;
        }
    }
}
