.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1em;
    text-align: center;
    font-family: "Manrope";
    font-style: Medium;
    font-size: 24px;
    line-height: 33px;
}